In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile
from collections import deque
from scipy.sparse import coo_matrix
from scipy.sparse import vstack

In [2]:
'''with zipfile.ZipFile("netflix-prize-data.zip","r") as zip_ref:
    zip_ref.extractall("data")'''
#Run only once to create parkingtickets folder

In [2]:
movieTitle = pd.read_csv('data/movie_titles.csv',
                        encoding = 'ISO-8859-1',
                        header = None,
                        names = ['Id', 'Year', 'Name']).set_index('Id')
movieTitle.info

<bound method DataFrame.info of          Year                                               Name
Id
1      2003.0                                    Dinosaur Planet
2      2004.0                         Isle of Man TT 2004 Review
3      1997.0                                          Character
4      1994.0                       Paula Abdul's Get Up & Dance
5      2004.0                           The Rise and Fall of ECW
6      1997.0                                               Sick
7      1992.0                                              8 Man
8      2004.0                         What the #$*! Do We Know!?
9      1991.0                           Class of Nuke 'Em High 2
10     2001.0                                            Fighter
11     1999.0                     Full Frame: Documentary Shorts
12     1947.0                               My Favorite Brunette
13     2003.0  Lord of the Rings: The Return of the King: Ext...
14     1982.0                                 Nature: Antarctica
15     1988.0                   Neil Diamond: Greatest Hits Live
16     1996.0                                          Screamers
17     2005.0                                          7 Seconds
18     1994.0                                   Immortal Beloved
19     2000.0                              By Dawn's Early Light
20     1972.0                                    Seeta Aur Geeta
21     2002.0                                  Strange Relations
22     2000.0                                       Chump Change
23     2001.0  Clifford: Clifford Saves the Day! / Clifford's...
24     1981.0                                My Bloody Valentine
25     1997.0      Inspector Morse 31: Death Is Now My Neighbour
26     2004.0                                    Never Die Alone
27     1962.0  Sesame Street: Elmo's World: The Street We Liv...
28     2002.0                                    Lilo and Stitch
29     2001.0                                            Boycott
30     2003.0                             Something's Gotta Give
...       ...                                                ...
17741  2004.0                          Ginger Snaps 2: Unleashed
17742  1995.0                                Catherine the Great
17743  2003.0                               Better Luck Tomorrow
17744  2004.0                         NASCAR: Tony Stewart Smoke
17745  2002.0      Russell Simmons Presents Def Poetry: Season 1
17746  1991.0  Godzilla & Mothra: Battle for Earth / Vs. King...
17747  1991.0                            Eric Clapton: 24 Nights
17748  2005.0        Dog the Bounty Hunter: The Best of Season 1
17749  1985.0                                             No End
17750  2005.0                     The Hee Haw Collection: Vol. 4
17751  1993.0                               Highlander: Season 2
17752  2003.0                                       Out of Order
17753  1997.0                                       Maslin Beach
17754  1999.0                                       On the Ropes
17755  2003.0                           L/R: Licensed by Royalty
17756  1935.0                                       The 39 Steps
17757  2002.0  Ulysses S. Grant: Warrior / President: America...
17758  1979.0                                           Prophecy
17759  1972.0                                  The Big Bird Cage
17760  2004.0                                      Lightning Bug
17761  2003.0                                             Levity
17762  1997.0                                            Gattaca
17763  1978.0                                          Interiors
17764  1998.0                                Shakespeare in Love
17765  1969.0                                 Godzilla's Revenge
17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17767  2004.0                  Fidel Castro: American Experience
17768  2000.0                                              Epoch
17769  2003.0                                        The Company
17770  2003.0                                       Alien Hunter

[17770 rows x 2 columns]>

In [3]:
data1 = pd.read_csv('data/combined_data_1.txt', header = None,names=['User', 'Rating', 'Date'])
data1

             User  Rating        Date
0              1:     NaN         NaN
1         1488844     3.0  2005-09-06
2          822109     5.0  2005-05-13
3          885013     4.0  2005-10-19
4           30878     4.0  2005-12-26
5          823519     3.0  2004-05-03
6          893988     3.0  2005-11-17
7          124105     4.0  2004-08-05
8         1248029     3.0  2004-04-22
9         1842128     4.0  2004-05-09
10        2238063     3.0  2005-05-11
11        1503895     4.0  2005-05-19
12        2207774     5.0  2005-06-06
13        2590061     3.0  2004-08-12
14           2442     3.0  2004-04-14
15         543865     4.0  2004-05-28
16        1209119     4.0  2004-03-23
17         804919     4.0  2004-06-10
18        1086807     3.0  2004-12-28
19        1711859     4.0  2005-05-08
20         372233     5.0  2005-11-23
21        1080361     3.0  2005-03-28
22        1245640     3.0  2005-12-19
23         558634     4.0  2004-12-14
24        2165002     4.0  2004-04-06
25        1181550     3.0  2004-02-01
26        1227322     4.0  2004-02-06
27         427928     4.0  2004-02-26
28         814701     5.0  2005-09-29
29         808731     4.0  2005-10-31
...           ...     ...         ...
24058233  1836014     3.0  2004-05-05
24058234  1960927     1.0  2005-08-30
24058235  2385226     1.0  2004-05-17
24058236  1997469     2.0  2004-06-22
24058237   811530     4.0  2004-07-28
24058238  1083336     5.0  2004-12-02
24058239  1309223     1.0  2005-04-24
24058240   604335     4.0  2005-04-25
24058241   307404     2.0  2004-10-22
24058242  1334851     3.0  2005-10-25
24058243  1061120     3.0  2004-05-25
24058244  1852040     1.0  2004-05-13
24058245   268846     4.0  2004-04-26
24058246  2368103     2.0  2004-07-05
24058247   529787     4.0  2005-11-30
24058248   441248     4.0  2005-04-05
24058249  2092745     5.0  2005-03-15
24058250   555962     5.0  2004-05-05
24058251   303969     2.0  2004-05-23
24058252   654591     3.0  2004-04-26
24058253   272857     4.0  2005-06-22
24058254   185372     1.0  2004-06-07
24058255  2219917     3.0  2004-05-03
24058256  1796454     1.0  2004-07-07
24058257  2562830     4.0  2004-06-19
24058258  2591364     2.0  2005-02-16
24058259  1791000     2.0  2005-02-10
24058260   512536     5.0  2005-07-27
24058261   988963     3.0  2005-12-20
24058262  1704416     3.0  2004-06-02

[24058263 rows x 3 columns]

In [4]:
data2 = pd.read_csv('data/combined_data_2.txt', header = None,names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])
data2

             User  Rating        Date
0           4500:     NaN         NaN
1         2532865     4.0  2005-07-26
2          573364     3.0  2005-06-20
3         1696725     3.0  2004-02-27
4         1253431     3.0  2004-03-31
5         1265574     2.0  2003-09-01
6         1049643     1.0  2003-11-15
7         1601348     4.0  2005-04-05
8         1495289     5.0  2005-07-09
9         1254903     3.0  2003-09-02
10        2604070     3.0  2005-05-15
11        1006473     5.0  2005-05-23
12        1989892     3.0  2004-04-06
13        1517471     4.0  2003-12-24
14        1478381     4.0  2005-05-21
15         923084     2.0  2004-11-15
16        2446292     4.0  2005-10-06
17        2554745     3.0  2003-05-07
18        1133125     5.0  2004-08-10
19         349528     4.0  2003-08-11
20        1614895     5.0  2004-08-29
21         424958     4.0  2005-08-02
22        1390877     3.0  2003-10-07
23        2327422     4.0  2004-08-19
24          18103     3.0  2005-07-24
25         591075     4.0  2004-03-12
26        1589677     3.0  2003-07-17
27         973538     2.0  2004-11-06
28        1107636     3.0  2004-04-17
29        1279272     2.0  2005-08-08
...           ...     ...         ...
26982272   250756     3.0  2004-07-18
26982273  1546585     3.0  2005-06-04
26982274    24059     3.0  2005-06-09
26982275   112790     4.0  2002-11-08
26982276   562957     2.0  2004-03-31
26982277  1738753     3.0  2004-04-29
26982278   269231     2.0  2003-09-19
26982279   616917     4.0  2004-06-05
26982280   227141     3.0  2005-05-07
26982281   933124     4.0  2005-05-09
26982282  1592126     3.0  2005-10-07
26982283  1213178     4.0  2005-11-09
26982284   696856     3.0  2003-04-29
26982285  2648853     3.0  2002-11-08
26982286  2110090     3.0  2004-09-08
26982287   788957     4.0  2004-01-21
26982288  1141848     4.0  2004-01-19
26982289  2450817     3.0  2004-08-05
26982290   459564     4.0  2004-04-16
26982291  1116868     4.0  2004-10-27
26982292  2643057     3.0  2005-01-06
26982293   262367     3.0  2003-05-29
26982294  1921572     2.0  2002-09-22
26982295  2570936     4.0  2002-12-20
26982296   501054     3.0  2003-06-03
26982297  2420260     1.0  2003-12-01
26982298   761176     3.0  2004-06-06
26982299   459277     3.0  2005-02-25
26982300  2407365     4.0  2005-04-29
26982301   627867     3.0  2005-05-02

[26982302 rows x 3 columns]

In [5]:
data = data1
data = data1.append(data2)
data.head()

      User  Rating        Date
0       1:     NaN         NaN
1  1488844     3.0  2005-09-06
2   822109     5.0  2005-05-13
3   885013     4.0  2005-10-19
4    30878     4.0  2005-12-26

In [6]:
data.shape

(51040565, 3)

In [7]:
data3 = pd.read_csv('data/combined_data_3.txt', header = None, names=['User', 'Rating', 'Date'])
data3

             User  Rating        Date
0           9211:     NaN         NaN
1         1277134     1.0  2003-12-02
2         2435457     2.0  2005-06-01
3         2338545     3.0  2001-02-17
4         2218269     1.0  2002-12-27
5          441153     4.0  2002-10-11
6         1921624     2.0  2005-08-31
7         2096652     3.0  2004-05-31
8          818736     2.0  2004-02-17
9          284560     3.0  2003-07-27
10        1211224     5.0  2004-05-08
11        1984086     1.0  2004-09-16
12        1389539     3.0  2005-06-07
13         454575     2.0  2004-10-23
14         149028     3.0  2003-06-19
15        1105843     2.0  2005-04-07
16         353813     2.0  2004-08-05
17         903779     3.0  2001-05-21
18         639194     2.0  2003-10-19
19         308031     4.0  2000-09-07
20        1794933     1.0  2003-02-14
21         625085     3.0  2004-05-21
22         893673     2.0  2000-12-04
23        1704675     2.0  2001-04-10
24        2116614     3.0  2002-07-17
25         371300     2.0  2004-08-10
26        1172345     1.0  2005-04-23
27         823026     2.0  2004-01-08
28        2241971     2.0  2002-04-19
29        1173009     2.0  2004-02-15
...           ...     ...         ...
22605756    84566     4.0  2003-12-23
22605757  1133763     3.0  2005-07-27
22605758  1654854     5.0  2003-08-09
22605759  2056022     2.0  2005-06-01
22605760    79380     1.0  2005-10-11
22605761  1722054     5.0  2003-08-26
22605762  2256870     1.0  2005-09-14
22605763  2494244     2.0  2003-03-19
22605764   397290     4.0  2002-11-23
22605765   515183     2.0  2004-09-07
22605766  1806515     3.0  2005-11-13
22605767  2118461     3.0  2005-12-20
22605768   120295     2.0  2005-07-13
22605769   387418     3.0  2003-08-14
22605770  2341353     4.0  2002-11-02
22605771  2487127     1.0  2004-09-19
22605772   893014     3.0  2005-06-18
22605773  1461435     1.0  2003-02-12
22605774   249378     2.0  2003-11-18
22605775  2380866     3.0  2004-02-02
22605776  1639792     1.0  2002-10-15
22605777  1515355     4.0  2003-03-07
22605778  1565041     3.0  2004-01-04
22605779   151344     3.0  2004-01-26
22605780  2460347     1.0  2005-12-19
22605781  2339129     4.0  2002-10-07
22605782    59005     4.0  2005-01-21
22605783  1789683     5.0  2005-05-25
22605784  1878798     1.0  2003-02-17
22605785  2634967     1.0  2005-01-10

[22605786 rows x 3 columns]

In [8]:
data = data.append(data3)
data.shape

(73646351, 3)

In [9]:
data4 = pd.read_csv('data/combined_data_4.txt', header = None, names=['User', 'Rating', 'Date'])
data4

             User  Rating        Date
0          13368:     NaN         NaN
1         2385003     4.0  2004-07-08
2          659432     3.0  2005-03-16
3          751812     2.0  2002-12-16
4         2625420     2.0  2004-05-25
5         1650301     1.0  2005-08-30
6         2269227     4.0  2005-10-27
7         2220672     4.0  2002-08-19
8         2500511     4.0  2003-08-11
9         1452058     2.0  2005-01-29
10        1624891     3.0  2002-07-27
11         970031     3.0  2004-04-14
12         345673     4.0  2005-04-07
13        1426869     5.0  2005-04-21
14        1037088     2.0  2005-09-14
15        2079559     5.0  2005-10-08
16        2175560     5.0  2005-01-12
17         946805     4.0  2005-02-09
18         767843     1.0  2005-05-04
19         464031     3.0  2001-02-08
20        2473764     4.0  2005-09-26
21        2339119     3.0  2005-11-27
22         162348     3.0  2004-06-15
23        2622206     4.0  2005-10-09
24        1558606     3.0  2004-06-21
25         945258     3.0  2005-05-03
26        1315220     5.0  2002-05-15
27        1860412     3.0  2003-07-29
28        1338852     3.0  2003-07-14
29        1469354     2.0  2003-12-19
...           ...     ...         ...
26851896  1882093     3.0  2004-09-24
26851897   789449     2.0  2005-03-14
26851898   737905     3.0  2005-10-12
26851899   834423     3.0  2004-06-21
26851900   892826     2.0  2004-06-07
26851901  2142868     4.0  2004-04-28
26851902   953604     3.0  2004-08-31
26851903  2331946     1.0  2004-07-07
26851904  1205647     3.0  2004-10-16
26851905   357707     3.0  2004-10-18
26851906  1933317     3.0  2005-12-04
26851907   982006     3.0  2005-07-05
26851908   111084     2.0  2003-11-24
26851909   635735     4.0  2004-12-01
26851910  2167041     4.0  2005-02-01
26851911   925414     4.0  2005-02-08
26851912  1983962     2.0  2005-02-23
26851913   897629     3.0  2005-04-13
26851914  1274035     4.0  2005-06-10
26851915  2641559     3.0  2005-06-27
26851916   834323     2.0  2005-10-04
26851917   516110     5.0  2004-08-26
26851918   365996     3.0  2003-11-10
26851919   986348     4.0  2004-08-12
26851920   311124     3.0  2005-09-29
26851921  1790158     4.0  2005-11-01
26851922  1608708     3.0  2005-07-19
26851923   234275     1.0  2004-08-07
26851924   255278     4.0  2004-05-28
26851925   453585     2.0  2005-03-10

[26851926 rows x 3 columns]

In [10]:
data = data.append(data4)
data.shape

(100498277, 3)

In [11]:
#Find empty/Nan rows to slice for each movie
tmpMovie = data[data['Rating'].isna()]['User'].reset_index()
tmpMovie

          index    User
0             0      1:
1           548      2:
2           694      3:
3          2707      4:
4          2850      5:
5          3991      6:
6          5011      7:
7          5105      8:
8         20016      9:
9         20112     10:
10        20362     11:
11        20561     12:
12        21108     13:
13        21234     14:
14        21353     15:
15        21644     16:
16        24344     17:
17        31453     18:
18        42176     19:
19        42716     20:
20        42833     21:
21        43052     22:
22        43256     23:
23        43872     24:
24        45206     25:
25        46414     26:
26        52276     27:
27        52550     28:
28        92303     29:
29        92827     30:
...         ...     ...
17740  26707978  17741:
17741  26710503  17742:
17742  26711303  17743:
17743  26717755  17744:
17744  26717971  17745:
17745  26718585  17746:
17746  26719560  17747:
17747  26720438  17748:
17748  26720894  17749:
17749  26721076  17750:
17750  26721165  17751:
17751  26723641  17752:
17752  26724351  17753:
17753  26724519  17754:
17754  26724912  17755:
17755  26725052  17756:
17756  26733788  17757:
17757  26734309  17758:
17758  26737684  17759:
17759  26737983  17760:
17760  26738427  17761:
17761  26742739  17762:
17762  26774850  17763:
17763  26776808  17764:
17764  26841766  17765:
17765  26842080  17766:
17766  26842686  17767:
17767  26842891  17768:
17768  26844254  17769:
17769  26851004  17770:

[17770 rows x 2 columns]

In [12]:
movieIndices = [[index, int(movie[:-1])] for index, movie in tmpMovie.values]

In [13]:
len(movieIndices)

17770

In [14]:
#Get the start and end points of movie indices
shiftedMovieIndices = deque(movieIndices)
shiftedMovieIndices.rotate(-1)
len(shiftedMovieIndices)

17770

In [15]:
userData = []

for [dfID_1, movieID], [dfID_2, nextMovieID] in zip(movieIndices, shiftedMovieIndices):
    #Check if it is the last movie in the file
    if dfID_1 < dfID_2:
        tmpDF = data.iloc[dfID_1+1:dfID_2-1].copy()
    else:
        tmpDF = data.iloc[dfID_1 + 1 : ].copy()
        
    #Create movie column
    tmpDF['Movie'] = movieID
    
    userData.append(tmpDF)

#concatenate all dataframes
totalDF = pd.concat(userData)
totalDF.shape

(401957572, 4)

In [16]:
totalDF.sample(5)

             User  Rating        Date  Movie
25806495   841110     3.0  2004-11-17  17770
19198636     2787     4.0  2005-10-12  12732
5005423   2323637     5.0  2005-08-01   5320
1216297    500829     5.0  2005-08-17   4698
6035269   2308318     2.0  2003-04-22   9210

In [17]:
del userData,data,data1,data2,data3,data4,

In [18]:
del tmpMovie, tmpDF, shiftedMovieIndices, movieIndices, dfID_1,dfID_2,movieID, nextMovieID

In [19]:
#When were the movies rated
ratedCount = totalDF['Date'].value_counts()
ratedCount

2005-01-19    2950065
2005-04-06    1359145
2005-06-01     955794
2005-06-27     944671
2005-05-31     936178
2005-08-22     899288
2005-06-06     889849
2005-09-26     889584
2005-01-25     884528
2005-07-11     881628
2005-06-07     880297
2005-01-10     878563
2005-07-05     875650
2005-06-13     874743
2005-06-20     873834
2005-09-20     873416
2005-09-19     872897
2005-01-24     869517
2005-06-14     868401
2005-08-15     867379
2005-10-24     864690
2005-07-12     861996
2005-06-28     857539
2005-07-18     850126
2005-01-31     850005
2005-01-20     846362
2005-02-01     839458
2005-08-23     838756
2005-07-25     837269
2005-06-02     836842
               ...
2000-01-31       4492
2000-10-21       3916
2000-06-17       3812
2000-01-22       3776
2000-05-28       3052
2000-10-22       2932
1999-12-30       2815
1999-12-31       1724
2000-10-24       1228
1999-12-24        764
1999-12-21        508
1999-12-17        484
1999-12-27        328
1999-12-09        320
1999-12-16        284
1999-12-29        188
1999-12-18        184
1999-12-28        148
1999-12-22        116
1999-12-08        116
1999-11-11        112
1999-12-11        112
1999-12-12        104
1999-12-25         88
1999-12-10         84
1999-12-26         80
1999-12-14         60
1999-12-06         48
1999-12-20         24
1999-12-15         20
Name: Date, Length: 2182, dtype: int64

In [20]:
ratedCount.index = pd.to_datetime(ratedCount.index)
ratedCount.sort_index(inplace=True)
ratedCount

1999-11-11       112
1999-12-06        48
1999-12-08       116
1999-12-09       320
1999-12-10        84
1999-12-11       112
1999-12-12       104
1999-12-14        60
1999-12-15        20
1999-12-16       284
1999-12-17       484
1999-12-18       184
1999-12-20        24
1999-12-21       508
1999-12-22       116
1999-12-24       764
1999-12-25        88
1999-12-26        80
1999-12-27       328
1999-12-28       148
1999-12-29       188
1999-12-30      2815
1999-12-31      1724
2000-01-05      5860
2000-01-06     20844
2000-01-07     15255
2000-01-08     17163
2000-01-09     15859
2000-01-10     14060
2000-01-11     10708
               ...
2005-12-02    360309
2005-12-03    280316
2005-12-04    303739
2005-12-05    453126
2005-12-06    457382
2005-12-07    382050
2005-12-08    330532
2005-12-09    313666
2005-12-10    245010
2005-12-11    264772
2005-12-12    397494
2005-12-13    352273
2005-12-14    350540
2005-12-15    283367
2005-12-16    274886
2005-12-17    230331
2005-12-18    266524
2005-12-19    387598
2005-12-20    349316
2005-12-21    315747
2005-12-22    277421
2005-12-23    238170
2005-12-24    126443
2005-12-25    120114
2005-12-26    240338
2005-12-27    351151
2005-12-28    394617
2005-12-29    389223
2005-12-30    310330
2005-12-31    182632
Name: Date, Length: 2182, dtype: int64

#pd.options.plotting.backend = "plotly"
ratedCount = pd.DataFrame(ratedCount)
ratedCount

In [21]:
x = ratedCount.index
x

DatetimeIndex(['1999-11-11', '1999-12-06', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-11', '1999-12-12', '1999-12-14',
               '1999-12-15', '1999-12-16',
               ...
               '2005-12-22', '2005-12-23', '2005-12-24', '2005-12-25',
               '2005-12-26', '2005-12-27', '2005-12-28', '2005-12-29',
               '2005-12-30', '2005-12-31'],
              dtype='datetime64[ns]', length=2182, freq=None)

In [22]:
y = ratedCount.values
y

array([   112,     48,    116, ..., 389223, 310330, 182632])

In [33]:
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go

In [24]:
init_notebook_mode(connected=True)

In [35]:
trace = go.Scatter(x = x,
                  y= y,
                  marker = dict(color = '#db0000'))

#layout of the trace
layout = dict(title = 'Movie-Ratings Grouped By Day',
              xaxis = dict(title = 'Date'),
              yaxis = dict(title = 'Ratings'))

fig = go.Figure(data = [trace], layout= layout)
plot(fig)

'temp-plot.html'

Now lets see how to preprocess the data for creating basic recommender systems. We will reduce dimensionality of the dataset by filter the rarely reviewed movies.

In [26]:
minMovieRating = 20000

filterMovie = (totalDF['Movie'].value_counts() > minMovieRating)
filterMovie

13367     True
4499      True
17770     True
9210      True
5317      True
15124     True
14313     True
15205     True
1905      True
6287      True
11283     True
16377     True
16242     True
12470     True
15582     True
9340      True
6972      True
12317     True
2152      True
3860      True
15107     True
6037      True
4432      True
5496      True
571       True
14538     True
14367     True
3938      True
12232     True
7624      True
         ...
16542    False
11500    False
4338     False
11838    False
12107    False
15587    False
15571    False
8858     False
15197    False
4362     False
16155    False
13064    False
7717     False
9507     False
4614     False
10581    False
13405    False
9124     False
11936    False
10597    False
8964     False
16875    False
4711     False
12418    False
8146     False
4806     False
11344    False
6256     False
11148    False
13755    False
Name: Movie, Length: 17770, dtype: bool

In [27]:
filterMovie = filterMovie[filterMovie].index.tolist()

In [28]:
len(filterMovie)

1278

In [29]:
#Filter Sparse users
minUser = 200

filterUser = (totalDF['User'].value_counts() > minUser)
filterUser = filterUser[filterUser].index.tolist()
len(filterUser)

324471

In [30]:
#Create the dataframe after filtering

filterDF = totalDF[(totalDF['Movie'].isin(filterMovie)) & (totalDF['User'].isin(filterUser))]
filterDF.shape

(354791701, 4)

In [37]:
filterDF = filterDF.drop('Date',axis =1).reset_index(drop=True)
filterDF

              User  Rating  Movie
0          1392773     4.0     28
1          1697479     4.0     28
2          1990901     5.0     28
3          2626356     5.0     28
4          1402412     2.0     28
5           765331     3.0     28
6          1987434     4.0     28
7           452013     3.0     28
8          1661657     4.0     28
9          2193455     4.0     28
10         1468812     4.0     28
11          132390     4.0     28
12           41412     4.0     28
13         2037339     3.0     28
14         1778432     4.0     28
15         2557878     2.0     28
16         2400678     4.0     28
17         2289614     3.0     28
18         2586072     4.0     28
19          160977     4.0     28
20          659794     4.0     28
21         1456155     5.0     28
22          998229     4.0     28
23           30878     3.0     28
24         2472213     3.0     28
25         1863853     3.0     28
26          785314     3.0     28
27         1632018     5.0     28
28          577397     5.0     28
29         1256263     3.0     28
...            ...     ...    ...
354791671  1882093     3.0  17770
354791672   789449     2.0  17770
354791673   737905     3.0  17770
354791674   834423     3.0  17770
354791675   892826     2.0  17770
354791676  2142868     4.0  17770
354791677   953604     3.0  17770
354791678  2331946     1.0  17770
354791679  1205647     3.0  17770
354791680   357707     3.0  17770
354791681  1933317     3.0  17770
354791682   982006     3.0  17770
354791683   111084     2.0  17770
354791684   635735     4.0  17770
354791685  2167041     4.0  17770
354791686   925414     4.0  17770
354791687  1983962     2.0  17770
354791688   897629     3.0  17770
354791689  1274035     4.0  17770
354791690  2641559     3.0  17770
354791691   834323     2.0  17770
354791692   516110     5.0  17770
354791693   365996     3.0  17770
354791694   986348     4.0  17770
354791695   311124     3.0  17770
354791696  1790158     4.0  17770
354791697  1608708     3.0  17770
354791698   234275     1.0  17770
354791699   255278     4.0  17770
354791700   453585     2.0  17770

[354791701 rows x 3 columns]

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [51]:
X_train, X_test= train_test_split(filterDF, 
                                  test_size=0.50,
                                  random_state=42)

In [52]:
X_train.shape

(177395850, 3)

In [53]:
#Create sparse matrix, aim is to estimate empty values in the matrix

In [54]:
predDF = X_train.pivot_table(index='User', columns='Movie', values='Rating')
predDF.shape

(324471, 1278)

In [55]:
predDF.head()

Movie,28,30,111,143,148,175,187,191,197,199,...,17589,17621,17622,17627,17692,17703,17709,17762,17764,17770
User,,,,,,,,,,,,,,,,,,,,,
10,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,3.404255
1000027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,5.0,NaN,4.750000
1000033,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,3.314607
1000035,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.357143
100006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.117647

In [56]:
#Mean rating

topMovies = 20

#Compute mean for all movies
ratingMean = predDF.mean(axis=0).sort_values(ascending=False).rename('Rating-Mean').to_frame()

In [57]:
ratingCount = predDF.count(axis=0).rename('Rating-Count').to_frame()

In [58]:
preds = X_test.set_index('Movie').join(ratingMean)[['Rating','Rating-Mean']]

In [59]:
yTrue = preds['Rating']
yPred = preds['Rating-Mean']

In [60]:
rmse = np.sqrt(mean_squared_error(y_true=yTrue, y_pred=yPred))

In [61]:
rmse

1.0750406967392516

In [62]:
rankingMeanRating = ratingMean.head(topMovies).join(ratingCount).join(movieTitle.drop('Year',axis=1))

In [63]:
rankingMeanRating

,Rating-Mean,Rating-Count,Name
Movie,,,
11658,4.456471,12417,Wicker Park
11647,4.442090,12649,Being Julia
2452,4.441529,72609,Lord of the Rings: The Fellowship of the Ring
6552,4.439103,24673,Charlie's Angels
11662,4.431357,10307,The Sopranos: Season 5
15385,4.423231,10486,Amistad
13074,4.421453,16315,The Transporter
8079,4.413176,29433,Interview with the Vampire
3962,4.413172,67536,Finding Nemo (Widescreen)
8086,4.409760,11148,Cats & Dogs
3290,4.405133,35186,The Godfather
2172,4.404949,11194,The Simpsons: Season 3
13073,4.404412,10472,It's a Wonderful Life
13058,4.401725,12867,Backdraft
7249,4.396879,17300,Alfie
15393,4.392384,51044,Big Daddy
16872,4.345978,26112,Tombstone
8393,4.322273,43035,Ladder 49
11663,4.321169,26554,Final Destination
4306,4.320547,72551,The Sixth Sense

In [64]:
#Lets plot the result

#trace
trace = go.Bar(x = rankingMeanRating['Rating-Mean'],
              text = rankingMeanRating['Name'].astype('str') + ': ' + rankingMeanRating['Rating-Count'].astype('str') + 'Ratings',
              textposition = 'outside',
              textfont = dict(color = '#000000'),
              orientation = 'h',
              y = list(range(1,topMovies+1)),
              marker = dict(color = '#db0000'))

#layout
layout = dict(title = 'Ranking Of Top {} Mean-Movie-Ratings'.format(topMovies),
              xaxis = dict(title = 'Mean-Rating',
                         range = (4.3, 4.5)),
              yaxis = dict(title = 'Movie'))
fig = go.Figure(data = [trace], layout = layout)
plot(fig)

'temp-plot.html'